@media screen and (max-width: 768px) {
	
.b1 {
	width: 50%;
	justify-items: center;
    }

.b2 {
	width: 50%;
	justify-items: center;
}
.b {
	flex-direction: row;
   }
	

}

@media screen and (max-width: 600px) {
	
.b1 {
	width: 100%;
	justify-items: center;
    }

.b2 {
	width: 100%;
	justify-items: center;
}
.b {
	flex-direction: column;
   }
}




.head {
	background-color: green;
	display: flex;
	height: 40vh;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	
}
.headd {
	background-color: black;
	display: flex;
	height: 7vh;
	flex-direction: row;	
}

li {
	list-style: none;
	padding-left: 20px;
	padding-top: 10px;	
}

.headd a {
	color: white;
}
.b {
	display: flex;
	
	margin-bottom: 0px;
}
.b1 {
	background-color: ghostwhite;
	height: 130vh;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
}
.b2 {
	background-color: white;
	height: 130vh;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	padding-left: 60px;
}
.image {
	background-color: gray;
	height: 20vh;
	width: 80%;
}
.image2 {
	background-color: gray;
	width: 50%;
	height: 8vh;
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;

}
.image3 {
	background-color: gray;
	width: 80%;
	height: 40vh;
}
.image4 {
	background-color: gray;
	width: 80%;
	height: 20vh;
}
.footer {
	background-color: gray;
	width: 100%;
	height: 7vh;
	justify-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: black;
	padding-top: 15px;

}